extends layout

block content
  .inner
    //- Forms without an 'action' attribute post to the existing URL
    form.form(method="POST")
      h2 Reset Your Password
      label(for="password") Password
      input(type="password" name="password" required)
      label(for="password-confirm") Confirm Password
      input(type="password" name="password-confirm" required)
      input.button(type="submit" value="Reset Password →")